@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@yaireo/tagify/dist/tagify.css";
@import "./mention.scss";

$black: #2B2B2B;
$dark-blue: #1A1B36;
$basic-blue: #47389F;
$light-blue: #BBB7D3;
$white: #FFFFFF;

@layer components{
    .markdown p, .markdown li, .markdown th, .markdown td{
        @apply text-xs md:text-sm
    }
}

.markdown th, .markdown td{
    padding-inline: 4px;
    border: 1px solid $dark-blue;
}

.markdown ol,
.markdown ul,
.markdown menu{
    list-style: initial;
    padding-left: 12px;
}

body{
    background-color: #F5F5F5;
}

textarea{
    line-height: 150% !important;
}

/* width */
.custom-scrollbar::-webkit-scrollbar{
    width: 6px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #bbbbbb;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #7e7e7e;
    border-radius: 10px;
}

.container{
    max-width: 1600px !important; 
}

.hamburger-btn{
    padding: 0.5rem;
    display: none;
    gap: 8px;
    > div{
        width: 32px;
        height: 3px;
        background-color: $basic-blue;
        border-radius: 4px;
        transition: 0.5s ease-in-out;
    }
    &.active{
        > div:nth-child(1){
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform-origin: left;
        }
        > div:nth-child(2) {
            transform: translateX(-20px);
            -webkit-transform: translateX(-20px);
            -moz-transform: translateX(-20px);
            -o-transform: translateX(-20px);
            opacity: 0;
        }
        > div:nth-child(3) {
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform-origin: left;
        }
    }
}

@media only screen and (max-width: 1024px){
    .hamburger-btn{
        display: flex;
        flex-direction: column;
        z-index: 9999;
    }

    .nav-menu{
        min-width: 160px;
        height: 100vh;
        z-index: 9999;
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(100%);
        flex-direction: column;
        background-color: white;
        padding-top: 5rem;
        padding-inline: 1rem;
        transition: 0.5s transform ease-in-out;

        &.active{
            transform: translateX(0);
        }
    }
}

input::-ms-reveal,
input::-ms-clear {
    display: none;
}

.tagify {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 4px 4px;
    
    @media only screen and (max-width: 768px){
        padding: 0;
    }

    --placeholder-color: rgba(0, 0, 0, 0.6);
    --tag-bg: rgb(71, 56, 159);
    --tag-text-color: white;
    --tag-text-color--edit: var(--tag-bg);
    --tag-hover: rgb(114, 98, 202);
    --tag-remove-btn-color: white;
    --tag-remove-bg: rgb(168, 155, 240);
    --tag-remove-btn-bg--hover: rgb(71, 56, 159);
    --tag-border-radius: 99px;

    .tagify__input{
        &::before{
            display: block;
            width: 100%;
            font-size: 14px;
            overflow: hidden;
            text-overflow: ellipsis;

            @media only screen and (max-width: 768px){
                font-size: 12px;
            }
        }
    }

    .tagify__tag > div > :only-child {
        width: unset; 
    }

    .tagify__tag-text{
        font-size: 14px;
        @media only screen and (max-width: 768px){
            font-size: 12px;
        }
    }
}

.tags-look .tagify__dropdown__item{
    display: inline-block;
    vertical-align: middle;
    border-radius: 99px;
    padding: .3em .6em;
    border: 1px solid #CCC;
    background: #F3F3F3;
    margin: .2em;
    font-size: .8em;
    color: black;
    transition: 0s;
}
  
.tags-look .tagify__dropdown__item--active{
    color: black;
}
  
.tags-look .tagify__dropdown__item:hover{
    background: lightyellow;
    border-color: gold;
}
  
.tags-look .tagify__dropdown__item--hidden {
    max-width: 0;
    max-height: initial;
    padding: .3em 0;
    margin: .2em 0;
    white-space: nowrap;
    text-indent: -20px;
    border: 0;
}

// FullCalendar Styling

// General
// .fc a,
// .fc .fc-button,
// .fc .fc-daygrid-week-number,
// .fc .fc-col-header-cell-cushion,
// .fc .fc-daygrid-day-number,
// .fc .fc-event-title,
// .fc .fc-daygrid-day-top {
//     font-size: 1em; 
// }

.fc .fc-toolbar-title {
    font-size: 24px !important;
    font-weight: bold; //semibold
}

.fc .fc-header-toolbar {
    margin-bottom: 8px !important;
}

.fc .fc-button {
    padding: 6px 8px;
    border-color: transparent;
    color: $white;
    background-color: $basic-blue;
    transition: background-color 0.3s ease-in-out;
}

.fc-prev-button {
    margin-right: 4px !important;
}

.fc .fc-button:hover:not(:disabled) {
    color: $basic-blue;
    background-color: transparent;
    border-color: $basic-blue;
}

.fc-toolbar-chunk {
    display: flex;
    align-items: center;
}

.fc-col-header-cell {
    background-color: $basic-blue !important;
    color: white !important;
}

.fc-event .fc-event-main, .fc .fc-daygrid-event{
    transition: z-index 0.5s ease-in-out;
}

.fc-event .fc-event-main:hover, .fc .fc-daygrid-event:hover{
    z-index: 9997 !important;
}

.fc .fc-daygrid-body{
    position: static !important;
}

.fc .fc-scroller-harness{
    overflow: visible !important;
}

// Tablets
@media screen and (max-width: 768px) {
    .fc .fc-toolbar-title {
        font-size: 20px !important;
    }
}

// // Smartphones
// @media screen and (max-width: 480px) {
//     .fc a,
//     .fc .fc-button,
//     .fc .fc-daygrid-week-number,
//     .fc .fc-col-header-cell-cushion,
//     .fc .fc-toolbar-title,
//     .fc .fc-daygrid-day-number,
//     .fc .fc-event-title,
//     .fc .fc-daygrid-day-top {
//         font-size: 0.5em;
//     }

//     .fc a {
//         font-size: 0.5em;
//     }

//     .fc .fc-button {
//         font-size: 0.75em;
//     }

//     .fc .fc-daygrid-week-number {
//         font-size: 0.5em;
//     }

//     .fc .fc-col-header-cell-cushion {
//         font-size: 0.6em;
//     }

//     .fc .fc-toolbar-title {
//         font-size: 1.5em;
//     }

//     .fc .fc-daygrid-day-number {
//         font-size: 0.8em;
//     }

//     .fc .fc-event-title {
//         font-size: 0.5em;
//     }

//     .fc .fc-daygrid-day-top {
//         font-size: 0.8em;
//     }
// }



